/* Add here all your CSS customizations */


/* alterações de cores */

#header.header-floating-icons .header-nav-main nav>ul>li>a:after {
    background: #57C6B8;
}

html .text-color-primary,
html .text-primary {
    color: #57C6B8!important;
}

html .bg-color-primary,
html .bg-primary {
    background-color: #57C6B8!important;
}

.custom-feature-box:hover .custom-feature-box-icon {
    background: #57C6B8;
}

#header .header-btn-collapse-nav {
    background: #57C6B8;
}

@media (max-width: 991px) {
    html .scroll-to-top.hidden-mobile {
        display: block !important;
        color: #57C6B8!important;
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;
  }

